data/
.ipynb_checkpoints
.bin
*.db

src/

*.parquet
*.html
*.csv
*.pkl

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store

.env*